<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Profile</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>  
    <link type="text/css" rel="stylesheet" href="/css/profile_style.css" />   
    <link type="text/css" rel="stylesheet" href="/css/style.css" />   

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>     
    <script type="text/javascript" src="/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

	  <header th:insert="fragement/header"></header>

	<div>
		<div class="profile_cover">
			 <img src="/assets/bg.jpg" class="cover_image">
		</div>

		<div class="profile_info">
			<div class="img" th:if="${user.imgUrl != null}">
				 <img th:src="@{${user.imgUrl}}" alt="Avatar" class="avatar"> 
			</div>
			<div class="img" th:if="${user.imgUrl == null}">
				 <img src="/assets/avatar.svg" alt="Avatar" class="avatar"> 
			</div>

			<div class="name-place">
				<h5 style="font-weight: 700; margin-bottom: 0;"  th:text="${user.last_name}+' '+${user.first_name}"></h5>
				<h6 style="margin: 0.1rem 0 0.46rem 0; color: #86a6df; font-weight: 500;" th:text="${user.city}+', '+${user.country}"></h6>
			</div>

			<div class="bio">
				<p th:text="${user.description}"></p>
			</div>

			<ul class="social-media">
				<a href="https://www.facebook.com">
					<li class="Facebook">
						<img src="assets/fb.png" width="25" height="25">
						<h6 style="margin: 0 0 0 16px;">Facebook</h6>
					</li>
				</a>
				
				<a href="https://www.linkedin.com">
					<li>
						<img src="assets/lenkin.webp" width="25" height="25">
						<h6 style="margin: 0 0 0 16px;">Linkedin</h6>
					</li>
				</a>
				
				<a href="https://www.gmail.com">
					<li>
						<img src="assets/insta.webp" width="25" height="25">
						<h6 style="margin: 0 0 0 16px;">Instagram</h6>
					</li>
				</a>
				
			</ul>
		</div>

		<div class="dropdown-competence container">
			
			
		</div>

		<div class="mes_cours">
			<div class="container">
				<div class="title">
					<h4>Mes Cours</h4>
				</div>

				<div class="row">
				    <div th:each="formation:${formations}" class="col s10 m6 l6 xl4">
				      <a th:href="@{/formationdetails(formation_id=${formation.id})}" >
					      <div class="card hoverable">
					        <div class="card-image">
					          <img src="assets/card_img.jpg" >
					        </div>
					          <div class="card-action">
					            <h6 style="color: black; font-weight: 700; margin: 0;" th:text="${formation.title}"></h6>
					            <p style="color: #86a6df; font-size: 11px;" th:text="${user.last_name}+' '+${user.first_name}"></p>
					            <p style="font-weight: 600; color: #c24d2c;">4.5</p>
					            <p style="font-weight: 700; font-size:20px;" th:text="${formation.price}+' MAD'"></p>
					          </div>
					      </div>
				      </a>
				  </div>


				</div>
			</div>
		</div>



	</div>








  <script type="text/javascript">

  $(document).ready(function(){
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: true
    });

    $('.dropdown-trigger').dropdown();

    $('.sidenav').sidenav();
  });
          
      
  </script>

</body>
</html>